# Virtual environments
.venv/
venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Local databases
*.db
*.sqlite
*.sqlite3

# Local vector database
chroma_db/

# Data
data/
datasets/
*.csv
*.pkl

# IDE / OS
.idea/
.DS_Store

# Node
node_modules/

# Git
.git/

# Python-specific local files
*.log